<!DOCTYPE html>
<html>
<head>
  <title>Gestionnaire de tâches</title>
  <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
  <h1 style="color: white;">Gestionnaire de Tâches</h1>


  <!-- Formulaire pour le filtres  -->
  <form id="filterForm" class="filterForm">
    <fieldset>
      <legend>Filtres</legend>
  
      <label for="statut">Statut :</label>
      <select id="statut" name="statut">
        <option value="">Tous</option>
        <option value="à faire">À faire</option>
        <option value="en cours">En cours</option>
        <option value="terminée">Terminée</option>
        <option value="annulée">Annulée</option>
      </select>
  
      <label for="priorite">Priorité :</label>
      <select id="priorite" name="priorite">
        <option value="">Toutes</option>
        <option value="basse">Basse</option>
        <option value="moyenne">Moyenne</option>
        <option value="haute">Haute</option>
        <option value="critique">Critique</option>
      </select>
  
      <label for="categorie">Catégorie :</label>
      <select id="categorie" name="categorie">
        <option value="">Toutes</option>
        <option value="travail">Travail</option>
        <option value="personnel">Personnel</option>
        <option value="autre">Autre</option>
      </select>
  
      <label for="etiquette">Étiquette :</label>
      <input type="text" id="etiquette" name="etiquette">
  
      <label for="avant">Avant le :</label>
      <input type="date" id="avant" name="avant">
  
      <label for="apres">Après le :</label>
      <input type="date" id="apres" name="apres">
  
      <label for="q">Recherche :</label>
      <input type="text" id="q" name="q" placeholder="Titre ou description">

    </fieldset>


    <fieldset>
      <legend>Trie</legend>
      <label for="tri">Trier par :</label>
      <select id="tri" name="tri">
        <option value="">-</option>
        <option value="echeance">Date d'échéance</option>
        <option value="priorite">Priorité</option>
        <option value="dateCreation">Date de création</option>
      </select>
  
      <label for="ordre">Ordre :</label>
      <select id="ordre" name="ordre">
        <option value="asc">Croissant</option>
        <option value="desc">Décroissant</option>
      </select>
    </fieldset>



  
    <button type="submit" class="btnFilter">Filtrer</button>
  </form>
  
  
  <!-- On redirig l'utilisateur vers le formulaire d'ajout -->
  <button onclick="location.href='/tasks/new'" class="BtnAjouterTaskAccieil">Ajouter une tâche</button>

  <div id="taskContainer">
    <!-- Les tâches seront affichées ici -->
  </div>

  <script src="/js/script.js"></script>
</body>
</html>