body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background: linear-gradient(to right, #00aaff, #0044ff);

  /*  height: 100vh;
  background-image: url("../image/fond.jpg"); 
  background-size: cover; 
  background-position: center; */

  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

h1 {
  color: #333;
  text-align: center; /* Centre horizontalement */
  margin: 40px; /* Supprime les marges par défaut */
}

/* Conteneur du formulaire */
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto; /* Centre horizontalement */
}

.filterForm {
  background: rgba(255, 255, 255, 0.4); /* Utilise rgba avec la transparence */
  padding: 30px;
  border-radius: 30px;
  max-width: 700px;
  display: flex;
  gap: 15px;
  margin: auto; /* Centre horizontalement */
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.filterForm .fieldset .select {
  opacity: 1; /* Cela se traduit par une opacité de 1 pour le select */
  flex: 1;
}

/* Labels */
label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

/* Champs de saisie */
input,
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* Style des fieldset (sections) */
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: grid;
}

legend {
  font-weight: bold;
  color: #333;
}

/* Bouton de soumission */
button {
  padding: 12px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  /*en gras*/
  font-weight: bold;
  max-width: fit-content;
  min-width: 50px;
}

/* Bouton d'ajout des sous-tâches */
#ajouterSousTache,
#ajouterCommentaire {
  background-color: #007bff;
}

#ajouterSousTache:hover,
#ajouterCommentaire:hover {
  background-color: #0056b3;
}

/* Lien de retour */
.BtnRettour {
  text-align: center;
  margin-top: 20px;
}

.BtnRettour a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.BtnRettour a:hover {
  background-color: #bd2130;
}

/* Sous-tâches */
.sousTache {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Pour la page d'accueil pour afficher les tache  */

#taskContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.task {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 20px;
  min-height: 200px;
}

.task button {
  margin-top: 5px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/***********************************************************************************/
/*style pour la parti détaile des taches */

/* Conteneur principal */
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}

/* Titre */
.page-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Carte de la tâche */
.task-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.task-card h2 {
  color: #007bff;
}

/*Status*/
.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.status.afaire {
  background-color: #07c1ff;
  color: #fff;
}

.status.encours {
  background-color: #ffc107;
  color: #fff;
}

.status.terminee {
  background-color: #28a745;
  color: #fff;
}

.status.annulee {
  background-color: #dc3545;
  color: #fff;
}

/* Priorité */
.priority {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.priority.critique {
  background-color: #dc3545;
  color: #fff;
}

.priority.haute {
  background-color: #ffc107;
  color: #fff;
}

.priority.moyenne {
  background-color: #28a745;
  color: #fff;
}

.priority.basse {
  background-color: #07c1ff;
  color: #fff;
}

/* Liste des sous-tâches */
.subtasks,
.comments {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;

  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.subtasks h3,
.comments h3 {
  margin-bottom: 10px;
  color: #333;
}

.subtasks ul,
.comments ul {
  list-style: none;
  padding: 0;
}

.subtasks li,
.comments li {
  background: rgb(211, 211, 211);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
}

.subtasks .status {
  max-width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments li p {
  margin: 5px 0;
}

/* Boutons */
.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn i {
  margin-right: 5px;
}

.btn-back {
  background-color: #007bff;
  color: white;
}

.btn-back:hover {
  background-color: #0056b3;
}

/*style pour les étiquette qu'on affiche*/

.etiquette {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Liste des étiquettes */
.etiquettes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espace entre chaque bulle */
}

/* Style pour chaque bulle d'étiquette */
.etiquette-bubble {
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #a4aba4; /* Couleur de fond par défaut */
  color: white;
  font-size: 14px;
  display: inline-block;
  margin: 5px; /* Espacement autour de chaque bulle */

  /* Transition pour l'animation au survol */
  transition-duration: 0.5s;
  /*on enlève le transforme pour que ça soit fluide*/
  transform: scale(1);
}

.etiquette-bubble:hover {
  /*grossisement légé*/
  transform: scale(1.3);
}

/*pour les bouton edit, delet et detail*/
.BtnDelette {
  background-color: #dc3545;
}

.BtnDelette:hover {
  background-color: #a81d2b;
}

.BtnDetail {
  background-color: #8328a7;
}

.BtnDetail:hover {
  background-color: #581581;
}

.BtnModifier {
  background-color: #007bff;
}

.BtnModifier:hover {
  background-color: #0056b3;
}

.BtnAjouterTask {
  background-color: #ffc107;

  /* Transition pour l'animation au survol */
  transition-duration: 0.5s;
  /*on enlève le transforme pour que ça soit fluide*/
  transform: scale(1);
}

.BtnAjouterTask:hover {
  /*on le grossi*/
  transform: scale(1.05);
}

.BtnAnnulerAjouterTask {
  background-color: #dc3545;

  /* Transition pour l'animation au survol */
  transition-duration: 0.5s;
  /*on enlève le transforme pour que ça soit fluide*/
  transform: scale(1);
}

.BtnAnnulerAjouterTask:hover {
  /*on le grossi*/
  transform: scale(1.05);
}

.BtnRettour {
  background-color: #ffc107;
  max-width: fit-content;
  margin-bottom: 20px;
}

.BtnRettour:hover {
  background-color: #e0a800;
}

/*pour la page d'accueil*/
.BtnAjouterTaskAccieil {
  background-color: #ffc107;
  margin-bottom: 40px;
  max-width: fit-content;
  /*en gras*/
  font-weight: bold;
  margin-left: 20px;
  margin-top: 40px;
}

.BtnAjouterTaskAccieil:hover {
  background-color: #e0a800;
}

.btnEnregistrerModif {
  background-color: #ffc107;
}

.btnEnregistrerModif:hover {
  background-color: #e0a800;
}

.btnFilter {
  background-color: #ffc107;
}

.btnFilter:hover {
  background-color: #e0a800;
}

.AnnulerMofif {
  background-color: #dc3545;
  margin: 20px;
  /*collé à gauche*/
  margin-left: 0;
}

.AnnulerMofif:hover {
  background-color: #a81d2b;
}

.supprimerSousTache {
  background-color: #dc3545;
}

.supprimerSousTache:hover {
  background-color: #a81d2b;
}

.BtnAnnuler {
  background-color: #dc3545;
}

.BtnAnnuler:hover {
  background-color: #a81d2b;
}

/*pour aligné les drop liste*/

.inline-group {
  display: flex;
  justify-content: space-between;
  gap: 15px; /* Espacement entre les éléments */
}

.inline-group div {
  flex: 1; /* Pour que chaque élément prenne la même largeur */
  display: flex;
  flex-direction: column;
}

.inline-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.inline-group select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.BtnEnLigne {
  display: flex;
  justify-content: center;
  gap: 15px;
}
